@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, system-ui, sans-serif;
    background-color: #e6e6e6;
    user-select: none;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    color: #000;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .default-button {
    @apply flex items-center gap-4 justify-center p-2 w-full bg-primary hover:bg-black hover:text-lightenPrimary border-default rounded-default text-white transition-colors;
  }

  .default-icon-button {
    @apply text-black hover:bg-lightGray transition-all cursor-pointer rounded-default;
  }

  .drag-over {
    @apply bg-lightGray;
  }
}
