@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --quill-input-width: 750px;
}

@layer base {
  html {
    font-family: Lato, system-ui, sans-serif;
    user-select: none;
    font-size: 1.125rem /* 18px */;
    font-weight: 300;
    line-height: 1.75rem /* 28px */;
    color: #000;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus,
  body:not(.user-is-tabbing) div:focus {
    outline: none;
  }

  b,
  strong {
    font-weight: 700;
  }
}

@layer components {
  .primary-button {
    @apply flex w-full items-center justify-center rounded-full border-default bg-primary px-4 py-2 font-bold text-white transition-colors hover:bg-darkButtonHover hover:text-white dark:border-dark dark:bg-darkPrimary dark:text-darkTextLight dark:hover:bg-darkButtonHover dark:hover:text-darkTextLight;
  }

  .secondary-button {
    @apply w-full items-center rounded-full border border-lightGray px-3 py-2 font-bold text-primary transition-all hover:bg-lightGray disabled:text-lightenGray dark:border-dark dark:text-darkPrimary dark:hover:bg-darkBackgroundIconButton;
  }

  .icon-button {
    @apply flex items-center justify-center rounded-full p-2 transition-colors hover:bg-lightGray disabled:text-lightGray disabled:hover:bg-transparent dark:text-darkTextLight dark:hover:bg-darkBackgroundIconButton disabled:dark:text-gray;
  }

  .tab-bar-button {
    @apply flex items-center justify-center rounded-full p-2 transition-colors hover:bg-lightGray hover:text-primary disabled:text-lightGray disabled:hover:bg-transparent dark:text-darkTextLight dark:hover:bg-darkBackgroundIconButton dark:hover:text-darkPrimary disabled:dark:text-gray;
  }

  .tab-bar-button-active {
    @apply flex items-center justify-center text-primary transition-colors dark:text-darkPrimary;
  }

  .text-button {
    @apply text-primary hover:underline dark:text-darkPrimary;
  }

  .popover-button {
    @apply flex w-full items-center gap-2 rounded-full p-2 transition-colors hover:bg-lightGray disabled:text-lightGray disabled:hover:bg-transparent dark:text-darkTextLight dark:hover:bg-darkBackgroundIconButton disabled:dark:text-gray;
  }

  .sidebar-button {
    @apply flex w-full items-center gap-2 rounded-full p-2 transition-colors hover:bg-lightGray disabled:text-lightGray disabled:hover:bg-transparent dark:text-darkTextLight dark:hover:bg-darkBackgroundIconButton disabled:dark:text-gray;
  }

  .menu-items {
    @apply absolute right-0 z-50 mt-2 origin-top-right rounded-default border-default bg-white p-2 shadow-lg dark:border-dark dark:bg-darkCardBackground dark:shadow-sm dark:shadow-gray;
  }

  .drag-over {
    @apply bg-lightGray dark:bg-darkBackgroundIconButton;
  }

  .default-label {
    @apply font-bold dark:text-darkTextLight;
  }

  .default-checkbox {
    @apply h-4 w-4 rounded-full border-default border-lightenGray transition-all hover:cursor-pointer hover:bg-lightGray dark:border-darkTextGray dark:hover:bg-darkBackgroundIconButton md:h-[1.125rem] md:w-[1.125rem];
  }

  .checkbox-checked {
    @apply flex items-center justify-center border-transparent bg-primary text-white hover:bg-darkPrimary;
  }

  .list-title {
    @apply flex max-w-[21.875rem] cursor-pointer items-center truncate text-primary hover:underline dark:text-darkPrimary;
  }

  .default-badge {
    @apply flex h-5 items-center justify-center rounded-xl border-default px-2 text-lightenGray dark:border-dark;
  }

  .default-header {
    @apply flex w-full items-center px-4 py-1;
  }

  .default-header-title {
    @apply text-lg font-bold capitalize dark:text-darkTextLight;
  }
}

.default-link {
  @apply text-primary hover:underline dark:text-darkPrimary;
}

/* emoji picker styles */
aside.EmojiPickerReact.epr-main {
  @apply z-50 w-full md:absolute md:bottom-48;
}

/* quill input text */
.ql-editor {
  @apply max-h-64 rounded-b-md bg-lightGray p-2 text-sm outline-none transition-colors focus:bg-white disabled:text-lightenGray dark:border-dark dark:bg-darkInputBackground dark:text-darkTextLight dark:focus:bg-darkBackgroundIconButton disabled:dark:text-darkTextGray md:text-base;
}

/* quill toolbar */
.ql-toolbar.ql-snow {
  @apply max-w-[var(--quill-input-width)] rounded-t-md border-default p-1 dark:border-dark dark:bg-darkInputBackground;
}

/* quill container */
.ql-container.ql-snow {
  @apply h-auto max-w-[var(--quill-input-width)] rounded-b-md border-default dark:border-dark dark:bg-darkInputBackground;
}

/* quill placeholder */
.ql-editor.ql-blank::before {
  @apply not-italic text-lightenGray dark:text-darkTextGray;
}
