@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, system-ui, sans-serif;
    background-color: #e6e6e6;
    user-select: none;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    color: #000;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
